<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Jeevan.apphb.com</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <meta name="viewport" content="width=device-width" />
    <style>
        h2 {
            padding: 20px 0px 10px 0px;
        }
    </style>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="row">
                <div class="span5">
 
                    <a href="http://www.jeevan.org" title="http://www.jeevan.org">
                        <img src="~/Images/Jeevan-Logo.jpg">
                    </a>
                    </div>
                <div class="span6">
                <p class="site-title">
                                   @Html.ActionLink("Jeevan", "About", "Home")
                    
                </p>
                    </div>
                        <a href="http://www.bethecure.in" title="http://www.bethecure.in">
                        <img src="~/Images/BetheCure%20Logo%20new.jpg" />
                    </a>
                
            </div>
            <div class="site-sub-title">Cord blood bank</div>
            <div class="float-right">
                @*<section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>*@
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "About", "Home")</li>
                        <li>@Html.ActionLink("Search", "Create", "RequestInfo")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-right">
                <ul id="social">
                    <li><a href="http://www.facebook.com/bthecure" class="facebook">Facebook</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
